html, body {
	margin: 0;
    padding: 0;
    background: #fff;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
    width: 100%
}

#header{
	display: flex;
	justify-content:center;
	overflow: hidden;
	position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 6;
    background: white;
    background-image:url("img/blue.jpg");
    background-size:80px 80px;
    background-position: center;
    background-repeat: repeat;
    color:white;
    box-shadow: 3px 0px 19px 1px #222;
}
a{
	text-decoration: none;
	padding:2vh;
	font-size:2vw;
	color:white;
	cursor:pointer;
	    font-family: Helvetica, Arial, sans-serif;
}
a:hover{
	transform: scale(1.1, 1.1); /** default is 1, scale it to 1.5 */
	
}

.wrapper {
	margin-top: 10vh
}
.artworks {
    min-height: 40vh;
    max-height: 80vh;
    margin: 0px auto;
    width: 100%;
    position: relative;

    z-index: 5;
}

.albumart{
		padding: 5vh;
		/*height:80vh;*/
		width: 30vw;
}
.albumart:hover{
	transform: scale(1.03, 1.03); /** default is 1, scale it to 1.5 */
	cursor:pointer;
}

#bird{
	display: inline-block;
	height:10vh;
	margin:auto;
	margin-left: 0;
	margin-right: 0;
	cursor:pointer;
}
#bird:hover{
	transform: scale(1.05, 1.05); /** default is 1, scale it to 1.5 */
}

#one {
    background-image: url("img/skull.jpg");
    background-size:80px 80px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat

    z-index: 1;
}

#meenindeath{
	position:relative;

	display: block;
	margin: auto;

}
#one-text{
	background: rgba(0, 0, 0, 0.7);
	padding:0;
}
#two{
	background-image: url("img/pink.gif");
	background-attachment: fixed;
    background-position: center;
    background-repeat: repeat
    z-index: 1;
}

#twoofus{
	position:relative;
	display: block;
	margin: auto;
}

#two-text{
	/*background:pink;*/
}

#three{
	background-image: url("img/pineapple.png");
    background-size:500px 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat

    z-index: 1;
}

#brendan{
	position:relative;
	display: block;
	margin: auto;
}

#four{
	background-image: url("img/pattern.gif");

    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat

    z-index: 1;
}

#jonkuwada{
	position:relative;
	display: block;
	margin: auto;
}

